*,
*::before,
*::after {
    box-sizing: border-box;
}

// body {
//     color: ;
//     background-color: ;
//     font-family: ;
//     font-size:;
//     letter-spacing:;
// }

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}