// colors
$whiteColor: #fff;
$accentColor: #f3c653;
$fonLemon: #fffdee;
$black: #000000;
$fontColorBase: #7a7a7a;
$linkColorBase: #c79002;
$textColorTitle: #494848;
$textColorSlogon:#B4B4B4;

// fonts
$fontTitle: 'Times New Roman';
