.popup {
  visibility: hidden;
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 48, 61, 0.2);
 backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.popup.open .popup__content {
  transform: scale(1);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease 0s;
}
.popup__content {
  padding: 60px 15px;
  overflow-x: hidden;
  background: #fffdee;
  box-shadow: 0px 0px 30px rgba(41, 48, 61, 0.15);
  max-width: 414px;
  width: 100%;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: scale(0.7);
}
@media screen and (min-width: 1024px) {
  .popup__content {
    max-width: 712px;
    padding: 60px 60px;
  }
}
.popup__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-modal {
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .form-modal {
    display: flex;
    flex-wrap: wrap;
    gap: 28px 16px;
  }
}

.form-modal-box {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .form-modal-box:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .form-modal-box:nth-child(1) {
    order: 1;
  }
  .form-modal-box:nth-child(2) {
    order: 3;
  }
  .form-modal-box:nth-child(3) {
    order: 2;
  }
  .form-modal-box:nth-child(4) {
    order: 4;
  }
}
.form-modal__title {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .form-modal__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: 0.05em;
  }
}

.form-modal__field {
  display: flex;
  margin-bottom: 8px;
}

.form-modal__input {
  width: 100%;
  padding: 16px 12px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
  border: 1px solid #C79002;
  border-radius: 2px;
  background-color: #fffdee;
}
@media screen and (min-width: 1024px) {
  .form-modal__input {
    width: 288px;
    padding: 18px 12px;
    font-size: 24px;
    line-height: 1.1666666667;
  }
}

.form-modal__label {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.02em;
  color: #C79002;
}

.form-modal__group {
  margin-bottom: 8px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .form-modal__group {
    font-size: 16px;
    line-height: 1.25;
  }
}

.form-modal__wrap::before {
  content: "";
  position: absolute;
  display: block;
  background: url(../images/arrow-down.png);
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .form-modal__wrap::before {
    right: 20px;
  }
}

.form-modal__select {
  padding: 16px 12px;
  width: 100%;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
  cursor: pointer;
  border: 1px solid #C79002;
  border-radius: 2px;
  background-color: #fffdee;
}
@media screen and (min-width: 1024px) {
  .form-modal__select {
    width: 288px;
    padding: 18px 12px;
    font-size: 24px;
    line-height: 1.1666666667;
  }
}

.form-modal__select:focus {
  outline: none;
}

.form-modal__select {
  appearance: none;
  overflow: hidden;
}

.modal__button {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #F3C653;
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .modal__button {
    min-width: 592px;
    padding: 18px 117px;
    font-size: 24px;
    line-height: 1.2083333333;
  }
}
.modal__button:hover, .modal__button:focus {
  color: #000000;
  background-color: #F3C653;
  border: 1px solid #F3C653;
}/*# sourceMappingURL=book-table-modal-window.css.map */