.header {
    position: absolute;
    width: 100%;
    height: 143px;


background: rgba(0, 0, 0, 0.65);
    //background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);

@media (min-width: 1024px) {
        height: 116px;
    }

@media (min-width: 1280px) {
            height: 147px;
        }

    &__container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

    &__network {    

    @media (max-width: 1279px) {
        display: none;
    }

}
    &__address {
        position: absolute;

        
        
         @media (max-width: 1024px) {
        //         visibility:hidden;
        margin: -200px;
             }
    }

}

.address{

    

    &__link{
    font-family: Montserrat, sans-serif ;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.01em;
    
        color: #E5E5E5;
        border: 1px solid $accentColor;
        border-radius: 4px;
    }

        &__icon {
        fill: $accentColor;
        }
}

