@import './common';
@import './header.scss';
@import './section-homepage/section-hero.scss';
@import './section-homepage/about-our-restaurant.scss';
@import './section-homepage/details-of-our-restaurant.scss';
@import './section-homepage/about-our-hotel.scss';
@import './section-homepage/details-of-our-hotel.scss';
@import './section-homepage/contacts.scss';
@import './section-restaurant/hero.scss';
@import './section-restaurant/about-our-kitchen.scss';
@import './section-restaurant/menu.scss';
@import './section-hotel/hero.scss';
@import './section-hotel/1-room-luxe-for-2-adult.scss';
@import './section-hotel/1-room-for-3-adult.scss';
@import './section-hotel/1-room-for-2-adult.scss';
@import './section-number/hero.scss';
@import './section-number/amenities.scss';
@import './footer.scss';
@import './book-room-modal-window.scss';
@import './book-table-modal-window.scss';
@import './room-price-modal-window.scss';