<div class="wrapper container">
  <section class="about-hotel">
    <div class="about-hotel__info">
      <div class="about-hotel__info-wrapper">
        <h2 class="visually-hidden">Про наш готель</h2>
        <h3 class="about-hotel__title-above">Amet minim mollit non</h3>
        <h2 class="about-hotel__title">mimiho</h2>
        <p class="about-hotel__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        class="about-hotel__image-room"
        srcset="
          /src/images/about-our-hotel/about-hotel__room--d@2x.jpg 2x,
          /src/images/about-our-hotel/about-hotel__room--d.jpg    1x
        "
        src="/src/images/about-our-hotel/about-hotel__room--d.jpg"
        alt="about-hotel__room"
        loading="lazy"
      />
    </div>

    <div class="about-hotel__lobby">
      <img
        class="about-hotel__image-lobby"
        srcset="
          /src/images/about-our-hotel/about-hotel__lobby--d@2x.jpg 2x,
          /src/images/about-our-hotel/about-hotel__lobby--d.jpg    1x
        "
        src="/src/images/about-our-hotel/about-hotel__lobby--d.jpg"
        alt="about-hotel__lobby"
        loading="lazy"
      />
      <p class="about-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <div class="about-hotel__swiper-wrapper">
        <div class="swiper hotel__swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper hotel__wrap">
            <!-- Slides -->
            <div class="swiper-slide hotel__slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-tablet-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-mobile-2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <img
                  src="
                  ./images/sliders/about-hotel-slider/about-hotel-slider-01-mobile.jpg"
                  alt="restaurant"
                />
              </picture>
            </div>
            <div class="swiper-slide hotel__slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-tablet-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-mobile-2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <img
                  src="
                  ./images/sliders/about-hotel-slider/about-hotel-slider-02-mobile.jpg"
                  alt="restaurant"
                />
              </picture>
            </div>
            <div class="swiper-slide hotel__slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-tablet-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-mobile-2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <img
                  src="
                  ./images/sliders/about-hotel-slider/about-hotel-slider-03-mobile.jpg"
                  alt="restaurant"
                />
              </picture>
            </div>
            <div class="swiper-slide hotel__slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-tablet-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-mobile-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <img
                  src="
                  ./images/sliders/about-hotel-slider/about-hotel-slider-04-mobile.jpg"
                  alt="restaurant"
                />
              </picture>
            </div>
            <div class="swiper-slide hotel__slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-tablet-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-mobile-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <img
                  src="
                  ./images/sliders/about-hotel-slider/about-hotel-slider-05-mobile.jpg"
                  alt="restaurant"
                />
              </picture>
            </div>
          </div>
          <!-- <div class="swiper-layer"></div> -->
        </div>
        <div class="hotel__swiper-arrows">
          <div class="swiper-button-prev hotel__button-prev">
            <svg class="hotel__swiper-icon">
              <use
                href="/src/images/icons.svg#icon-swiper_left_button_icon"
              ></use>
            </svg>
          </div>
          <div class="swiper-button-next hotel__button-next">
            <svg class="hotel__swiper-icon">
              <use
                href="/src/images/icons.svg#icon-swiper_right_button_icon"
              ></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
