<div class="wrapper container">
  <section class="about-hotel">
    <div class="about-hotel__info">
      <div class="about-hotel__info-wrapper">
        <h3 class="about-hotel__title-above">Amet minim mollit non</h3>
        <h2 class="about-hotel__title">mimiho</h2>
        <p class="about-hotel__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        src="/src/images/about-our-hotel/about-hotel__room--m.jpg"
        alt="about-hotel__room"
        class="about-hotel__image-room"
        loading="lazy"
      />
    </div>

    <div class="about-hotel__lobby">
      <img
        src="/src/images/about-our-hotel/about-hotel__lobby--m.jpg"
        alt="about-hotel__lobby"
        class="about-hotel__image-lobby"
        loading="lazy"
      />
      <p class="about-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="about-hotel__slider">slider here</div>
  </section>
</div>
