<section class="about-restaurant">
    <div class="container restaurant-container">
        <p class="restaurant-slogon">Amet minim mollit non</p>
        <h2 class="title-name">MIMIHO</h2>
        <div class="restaurant-top-part">
            <p class="restaurant-info-top">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <picture class="img">
                <source srcset="
                                /src/images/restaurant-interior-1-desktop.jpg 1x,
                                /src/images/restaurant-interior-1-desktop-2x.jpg 2x" media="(min-width: 1200px)"
                    sizes="(min-width: 1280px) 1280px" />
                <source srcset="
                                /src/images/restaurant-interior-1-tab.jpg 1x,
                                /src/images/restaurant-interior-1-tab-2x.jpg 2x"
                    media="(min-width: 1024px) and (max-width: 1279px)" sizes="(min-width: 1024px) 1024px" />
                <source srcset="
                                /src/images/restaurant-interior-1-mob.jpg 1x,
                                /src/images/restaurant-interior-1-mob-2x.jpg 2x" media="(min-width: 414px)"
                    sizes="(min-width: 414px) 414px" />
                <img class="restaurant-photo-top" src="/src/images/restaurant-interior-1-desktop.jpg"
                    alt="обідня зала ресторану" width="244">
            </picture>
       </div>
            <div class="restaurant-bottom-part">
                <picture class="img">
                    <source srcset="
                            /src/images/restaurant-interior-2-desktop.jpg 1x,
                            /src/images/restaurant-interior-2-desktop-2x.jpg 2x" media="(min-width: 1200px)"
                        sizes="(min-width: 1280px) 1280px" />
                    <source srcset="
                            /src/images/restaurant-interior-2-tab.jpg 1x,
                            /src/images/restaurant-interior-2-tab-2x.jpg 2x"
                        media="(min-width: 1024px) and (max-width: 1279px)" sizes="(min-width: 1024px) 1024px" />
                    <source srcset="
                            /src/images/restaurant-interior-2-mob.jpg 1x,
                            /src/images/restaurant-interior-2-mob-2x.jpg 2x" media="(min-width: 414px)"
                        sizes="(min-width: 414px) 414px" />
                    <img class="restaurant-photo-bottom" src="/src/images/restaurant-interior-2-desktop.jpg" alt="обідня зала ресторану"
                        width="200">
                </picture>
                <p class="restaurant-info-bottom">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                    enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
             </div>
        <div class="restaurant__swiper-container swiper-container">
            <div class="restaurant__swiper swiper">
                <div class="restaurant__wrap swiper-wrapper">
                    <div class="restaurant__slide swiper-slide">
                        <picture>
                            <source srcset="
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-01.jpg    1x,
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-2x.jpg 2x
                            " media="(min-width: 1280px)" type="image/jpeg" />
                            <source srcset="
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-tablet.jpg    1x,
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-tablet-2x.jpg 2x
                        " media="(min-width: 1024px)" type="image/jpeg" />
                            <source srcset="
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-mobile.jpg    1x,
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-mobile-2x.jpg 2x
                        " media="(min-width: 414px)" type="image/jpeg" />
                            <img class="restaurant__slide-shadow"
                                src="./images/sliders/about-restaurant-slider/about-restaurant-slider-01-mobile.jpg"
                                alt="restaurant" />
                        </picture>
                    </div>
                    <div class="restaurant__slide swiper-slide">
                        <picture>
                            <source srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-02.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-2x.jpg 2x
                         " media="(min-width: 1280px)" type="image/jpeg" />
                            <source srcset="
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-tablet.jpg    1x,
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-tablet-2x.jpg 2x
                        " media="(min-width: 1024px)" type="image/jpeg" />
                            <source srcset="
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-mobile.jpg    1x,
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-mobile-2x.jpg 2x
                        " media="(min-width: 414px)" type="image/jpeg" />
                            <img class="restaurant__slide-shadow"
                                src="./images/sliders/about-restaurant-slider/about-restaurant-slider-02-mobile.jpg"
                                alt="restaurant" />
                        </picture>
                    </div>
                    <div class="restaurant__slide swiper-slide">
                        <picture>
                            <source srcset="
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-03.jpg    1x,
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-2x.jpg 2x
                            " media="(min-width: 1280px)" type="image/jpeg" />
                            <source srcset="
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-tablet.jpg    1x,
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-tablet-2x.jpg 2x
                        " media="(min-width: 1024px)" type="image/jpeg" />
                            <source srcset="
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-mobile.jpg    1x,
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-mobile-2x.jpg 2x
                        " media="(min-width: 414px)" type="image/jpeg" />
                            <img class="restaurant__slide-shadow"
                                src="./images/sliders/about-restaurant-slider/about-restaurant-slider-03-mobile.jpg"
                                alt="restaurant" />
                        </picture>
                    </div>
                    <div class="restaurant__slide swiper-slide">
                        <picture>
                            <source srcset="
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-04.jpg    1x,
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-2x.jpg 2x
                            " media="(min-width: 1280px)" type="image/jpeg" />
                            <source srcset="
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-tablet.jpg    1x,
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-tablet-2x.jpg 2x
                        " media="(min-width: 1024px)" type="image/jpeg" />
                            <source srcset="
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-mobile.jpg    1x,
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-mobile-2x.jpg 2x
                        " media="(min-width: 414px)" type="image/jpeg" />
                            <img class="restaurant__slide-shadow"
                                src="./images/sliders/about-restaurant-slider/about-restaurant-slider-04-mobile.jpg"
                                alt="restaurant" />
                        </picture>
                    </div>
                    <div class="restaurant__slide swiper-slide">
                        <picture>
                            <source srcset="
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-05.jpg    1x,
                            ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-2x.jpg 2x
                            " media="(min-width: 1280px)" type="image/jpeg" />
                            <source srcset="
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-tablet.jpg    1x,
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-tablet-2x.jpg 2x
                        " media="(min-width: 1024px)" type="image/jpeg" />
                            <source srcset="
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-mobile.jpg    1x,
                          ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-mobile-2x.jpg 2x
                        " media="(min-width: 414px)" type="image/jpeg" />
                            <img class="restaurant__slide-shadow"
                                src="./images/sliders/about-restaurant-slider/about-restaurant-slider-05-mobile.jpg"
                                alt="restaurant" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="restaurant__swiper-arrows">
                <div class="restaurant__button-prev swiper-button-prev">
                    <svg class="restaurant__swiper-icon">
                        <use href="./images/icons.svg#icon-swiper_left_button_icon"></use>
                    </svg>
                </div>
                <div class="restaurant__button-next swiper-button-next">
                    <svg class="restaurant__swiper-icon">
                        <use href="./images/icons.svg#icon-swiper_right_button_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>