<section>
    <h1 hidden>Contacts</h1>
    <div class="contacts container">
        <div></div>
        <h2 class="contacts__titel">MIMIHO</h2>
        <p class="contacts__paragraph">Ресторанно-готельний
            комплекс</p>
        <address>
            <ul class="contacts__list">
                    <li class="contacts-item">
                <p class="contacts-item__paragraph">Ресторан</p>
                <a class="contacts__link" href="tel:0955559533"
                >0955559533</a
              >
              </li>
              <li class="contacts-item">
                <p class="contacts-item__paragraph">Готель</p>
                <a class="contacts__link" href="tel:0668491089"
                  >066 849 10 89</a
                >
                <a class="contacts__link" href="tel:0672758540"
                  >0672758540</a
                >   
              </li>   
              <li class="contacts-item"> 
                <a
                  class="contacts__link"
                  href="https://goo.gl/maps/82AECN6XbYSS3Eqz9"
                  target="_blank"
                  rel="noreferrer noopener nofollow"
                  >Україна, м. Полтава,
                  вул. Маршала Бірюзова, 15</a
                >  
              </li>  
            </ul>
        </address> 
            <div class="map">
            <picture class="map__picture">
                <source srcset="/src/images/map-desktop-1x.jpg,/src/images/map-desktop-2x.jpg" media="(min-width:1280px)" />
                <source  srcset="/src/images/map-tablet-1x.jpg,/src/images/map-tablet-2x.jpg" media="(min-width:1024px)" />
                <source  srcset="/src/images/map-mobile-1x.jpg,/src/images/map-mobile-1x.jpg" media="(min-width:414px)" />
               <img
                 srcset="/src/images/map-desktop-1x.jpg,/src/images/map-desktop-2x.jpg" 
                 class="img"
                 src="/src/images/map-desktop-1x.jpg"
                 width="100%"
                 alt="карта"
      />    
             </picture>
            </div>
          
    </div>
</section>  