<div class="wrapper container">
  <section class="details-hotel">
    <div class="details-hotel__info">
      <h2 class="details-hotel__title">mimiho</h2>
      <h3 class="details-hotel__hotel">Готель</h3>
      <p class="details-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="swiper-container hotel-details__swiper-container">
      <div class="swiper hotel-details__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide hotel-details__swiper--slide ">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-tablet-2x.jpg 2x
                "
                media="(min-width: 1024px; max-width:10279px;)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-mobile.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-mobile-2x.jpg 2x
                "
                media="(min-width: 414px; max-width:1023px;)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper--img"
                src="./images/sliders/details-hotel-slider/details-hotel-slider-01-mobile.jpg"
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper-slim--slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-tablet-2x.jpg 2x
                "
                media="(min-width: 1024px; max-width:10279px;)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-mobile.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-mobile-2x.jpg 2x
                "
                media="(min-width: 414px; max-width:1023px;)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper-slim--img"
                src="./images/sliders/details-hotel-slider/details-hotel-slider-02-mobile.jpg"
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper--slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03-2x.jpg 2x
                "
                media="(min-width: 1024px; max-width:10279px;)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03-mobile.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03-mobile-2x.jpg 2x
                "
                media="(min-width: 414px; max-width:1023px;)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper--img"
                src="./images/sliders/details-hotel-slider/details-hotel-slider-03-mobile.jpg"
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper--slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-04-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-04-tablet-2x.jpg 2x
                "
                media="(min-width: 1024px; max-width:10279px;)"
                type="image/jpeg"
              />
              <source srcset="
              /src/images/sliders/details-hotel-slider/details-hotel-slider-04-mobile.jpg
              1x,
              /src/images/sliders/details-hotel-slider/details-hotel-slider-04-mobile-2x.jpg
              2x media="(min-width: 414px; max-width:1023px;)" type="image/jpeg"/>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-04.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-04-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper--img"
                src="./images/sliders/details-hotel-slider/details-hotel-slider-04-mobile.jpg"
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper-slim--slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-tablet-2x.jpg 2x
                "
                media="(min-width: 1024px; max-width:10279px;)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-mobile.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-mobile-2x.jpg 2x
                "
                media="(min-width: 414px; max-width:1023px;)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper-slim--img"
                src="./images/sliders/details-hotel-slider/details-hotel-slider-05-mobile.jpg"
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper--slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06-tablet-2x.jpg 2x
                "
                media="(min-width: 1024px; max-width:10279px;)"
                type="image/jpeg"
              />
              <source srcset="
              /src/images/sliders/details-hotel-slider/details-hotel-slider-06-mobile.jpg
              1x,
              /src/images/sliders/details-hotel-slider/details-hotel-slider-06-mobile-2x.jpg
              2x media="(min-width: 414px; max-width:1023px;)" type="image/jpeg"/>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper--img"
                src="./images/sliders/details-hotel-slider/details-hotel-slider-06-mobile.jpg"
                alt="food"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <!--------------- Button js -------------->
    <div class="swiper-arrows hotel-details__swiper-arrows">
      <div class="hotel-details__swiper-button-prev">
        <svg class="hotel-details__swiper__icon">
          <use href="./images/icons.svg#icon-swiper_left_button_icon"></use>
        </svg>
      </div>
      <div class="hotel-details__swiper-button-next">
        <svg class="hotel-details__swiper__icon">
          <use href="./images/icons.svg#icon-swiper_right_button_icon"></use>
        </svg>
      </div>
    </div>

    <div class="details-hotel__button-wrapper">
      <a href="/src/number.html">
        <button
          type="button"
          data-popup-btn="book-room-modal"
          class="button button__reserve-room popup-link"
        >
          Забронювати номер
        </button>
      </a>

      <button
        type="button"
        data-popup-btn="room-price-modal"
        class="button button__check-prices popup-link"
      >
        Переглянути ціни
      </button>
    </div>
  </section>
</div>
