<div class="wrapper container">
  <section class="details-hotel"></section>
  <div class="details-hotel__info">
    <h2 class="details-hotel__title">mimiho</h2>
    <h3 class="details-hotel__hotel">Готель</h3>
    <p class="details-hotel__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </div>

  <div class="details-hotel__slider"></div>
  <div class="details-hotel__button-wrapper">
    <button type="button" class="button button__reserve-room" data-modal-open>
      Забронювати номер
    </button>
    <button
      type="button"
      class="button button__check-prices">Переглянути ціни
    </button>
  </div>
</div>
