<section class="container details-restaurant details-restaurant__main">
    <div class="details-restaurant__button">
        <button type="button" class="buttons__style">Забронювати столик</button>
        <button type="button" class="buttons__style">Переглянути меню</button>
    </div>
    <div class="details-restaurant__description">
        <h2 class="details-restaurant__title">MIMIHO</h2>
        <h3 class="details-restaurant__restaurant">Ресторан</h3>
        <p class="details-restaurant__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
        </p>

        <!-- Slider main container -->
        <div class="swiper swiper-pudding">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide img-zero"><img
                        src="./images/details-of-our-restaurant/details-of-our-restaurant-1-@1x.jpg" alt="">
                </div>
                <div class="swiper-slide img-zero"><img
                        src="./images/details-of-our-restaurant/details-of-our-restaurant-2-@1x.jpg" alt="">
                </div>
                <div class="swiper-slide img-zero"><img
                        src="./images/details-of-our-restaurant/details-of-our-restaurant-3-@1x.jpg" alt="">
                </div>
                ...
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>


    </div>

</section>