<div class="wrapper">
  <section class="details-hotel"></section>
  <div class="details-hotel__info">
    <h2 class="details-hotel__title">mimiho</h2>
    <h3 class="details-hotel__hotel">Готель</h3>
    <p class="details-hotel__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </div>

  <div class="details-hotel__slider"></div>
  <div>
    <button type="button" class="button__reserve-room">
      Забронювати номер
    </button>
    <button type="button" class="button__check-prices">Переглянути ціни</button>
  </div>
</div>
