<section class="container details-restaurant details-restaurant__main">
    <div class="details-restaurant__button">
        <button type="button" class="button button__check-prices button__check-prices--margin">Забронювати столик</button>
        <button type="button" class="button button__check-prices">Переглянути меню</button>
    </div>
    <div class="details-restaurant__description">
        <h2 class="details-restaurant__title">MIMIHO</h2>
        <h3 class="details-restaurant__restaurant">Ресторан</h3>
        <p class="details-restaurant__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit mollit.
        </p>
        <include  src="./partials/sliders/details-of-our-restaurant-slider.html"></include>

    </div>


    </div>

</section>