<section class="hero-homepage">
    <div class="container">

        <div class="hero-homepage-blok">
            <h1 class="hero-homepage-title">MIMIHO</h1>
            <h2 class="hero-homepage-subtitle">Ресторанно-готельний комплекс</h2>
            <p class="hero-homepage-text">СМАК ЖИТТЯ 24/7</p>        
        </div>

        <div class="hero-homepage-container">
            <address>
                <p class="hero-homepage-address"><a class="hero-homepage-address_link link" href="https://goo.gl/maps/oK8vyMWPd37GwN4X6" target="_blank"> Україна, м. Полтава,<br>
                вул. Маршала Бірюзова, 15</a></p>
            </address>

            <div class="hero-homepage-box-button">
                <button type="button" class="hero-homepage-button">Забронювати столик</button>
                <button type="button" class="hero-homepage-button">Забронювати номер</button>
            </div>
        </div>
    </div>
</section>