ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-hotel {
  padding: 32px 0;
  width: 100%;

  overflow: hidden;

  /* tablet */
  @media (min-width: 1024px) {
    padding: 62px 0 40px;
    overflow: visible;
  }
  /* desktop */
  @media (min-width: 1280px) {
    padding: 72px 0 40px;
    overflow: visible;
  }
  &--fortwo {
    background-color: #fffdee;
  }
}

.container-hotel {
  padding: 0 15px;
  margin: 0 auto;
  width: 414px;
  position: relative;
  /* table */
  @media (min-width: 1024px) {
    padding: 0 47px;
    width: 1024px;
  }

  /* desktop */
  @media (min-width: 1280px) {
    padding: 0 85px;
    width: 1280px;
  }
}
// .container-hotel__fortwo{
//         @media (min-width:1280px) {
//                 margin: 0;
//         }
// }
.hotel-card__text {
  font-family: 'TimesNewRoman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
  margin-bottom: 8px;
  /* table/desktop */
  @media (min-width: 1024px) {
    font-size: 32px;
    line-height: 1.156;
    margin-bottom: 4px;
  }
}

.hotel-card__title {
  font-family: 'FilmP3', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 32px;
  /* table/desktop */
  @media (min-width: 1024px) {
    font-size: 64px;
    line-height: 1.078;
    margin-bottom: 72px;
    max-width: 202px;
  }
}

.section-title {
  font-family: 'TimesNewRoman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 12px;
  /* table */
  @media (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.133;
    margin-bottom: 16px;
    margin-top: 0;
  }
  /* desktop */
  @media (min-width: 1280px) {
    margin-top: 0;
    font-size: 36px;
    line-height: 1.139;
    margin-bottom: 24px;
  }
}

.room-description {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  max-width: 258px;
  width: 100%;
  margin-bottom: 32px;
  /* table */
  @media (min-width: 1024px) {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 176px;
    max-width: 439px;
  }
  /* desktop */
  @media (min-width: 1280px) {
    max-width: 400px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 188px;
  }
}

.room-img {
  text-align: right;
  margin-left: auto;
  margin-bottom: 32px;
  /* table */
  @media (min-width: 1024px) {
    position: absolute;
    top: -94px;
    right: 11.72%;
    margin: 0;
  }
  /* desktop */
  @media (min-width: 1280px) {
    position: absolute;
    top: -105px;
    right: 14.5%;
    margin: 0;
  }
}

.room-img__styles {
  max-width: 244px;
  width: 100%;
  height: auto;
  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-left: auto;
  /* table */
  @media (min-width: 1024px) {
    max-width: 400px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  /* desktop */
  @media (min-width: 1280px) {
    max-width: 460px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}

.buttons {
  width: 236px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;

  &__style {
    background: #000000;
    border: 2px solid #fffdee;
    border-radius: 25px;
    width: 236px;
    padding: 14px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #f3c653;

    &:hover {
      background-color: #ffffff;
      border-color: #f3c653;
      color: #f3c653;
    }

    &:focus {
      background-color: #ffffff;
      border-color: #f3c653;
      color: #f3c653;
    }
  }
  /* table */
}
.btnPosition {
  position: absolute;
  bottom: 40px;
  right: 73px;
  @media (min-width: 1024px) {
    position: absolute;
    bottom: 115px;
    right: 47px;
  }
  /* desktop */
  @media (min-width: 1280px) {
    position: absolute;
    bottom: 142px;
    right: 85px;
  }
}

.htlswiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 0 0 20px;
  justify-content: center;
  align-items: center;
  transform: translateX(-120px);
  /* table */
  @media (min-width: 1024px) {
    transform: none;
    justify-content: start;
    padding: 0 0 32px;
    gap: 40px;
  }
  /* desktop */
  @media (min-width: 1280px) {
    transform: none;
    justify-content: start;
    padding: 0 0 40px;
    gap: 40px;
  }
}

.htlswiper-btns {
  width: 96px;
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
  &__left {
    background-color: transparent;
    padding: 8px 1px 7px;
    border: none;
  }

  &__right {
    background-color: transparent;
    padding: 8px 1px 7px;
    border: none;
  }

  /* table */
  @media (min-width: 1024px) {
    margin-bottom: 0;
    margin-left: 330px;
  }
  /* desktop */
  @media (min-width: 1280px) {
    margin-bottom: 0;
    margin-left: 457px;
  }
}

.htlswiper-btns__left {
  &:hover {
    fill: #f3c653;
  }

  &:focus {
    fill: #f3c653;
  }
}

.htlswiper-btns__right {
  &:hover {
    fill: #f3c653;
  }

  &:focus {
    fill: #f3c653;
  }
}

.htlswiper-img {
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  max-width: 194px;
  width: 100%;

  /* table/desktop */
  @media (min-width: 1280px) {
    max-width: 254px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
}

.button-link {
  width: 236px;
}
