
.section-hotel--forthree {
    background-color: #F0ECD6;
}

.section-title--forthree{
    white-space: nowrap;
}

.hotel-card__text--forthree {
    margin-left: auto;
    text-align: right;
}

.hotel-card__title--forthree {
    margin-left: auto;
    text-align: right;
}

.room-card--forthree{
    margin-left: 82px;

    /* table */ 
    @media (min-width:1024px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        max-width: 400px;
    }
    /* desktop */ 
    @media (min-width:1280px) {
        max-width: 453px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
}

.room-img--forthree {
    /* table */
    @media (min-width:1024px) {
        position: absolute;
        top: -94px;
        left: 11.72%;
        margin: 0;
    }
    /* desktop */
    @media (min-width:1280px) {
        position: absolute;
        top: -105px;
        left: 14.5%;
        margin: 0;
    }
}

.room-img__styles--forthree{
    margin-right: auto;
    margin-left: 0;
}

.htlswiper-wrapper--forthree {
    transform: translateX(120px);
    /* table/dektop */
    @media (min-width:1024px) {
        transform: none;
        justify-content: end;
    }
}

.htlswiper-btns--forthree {
    margin-left: auto;
    /* table */
    @media (min-width:1025px) {
        margin-right: 333px;
    }
    /* desktop */
    @media (min-width:1280px) {
        margin-right: 452px;
    }
}

.buttons--forthree{
    /* table */
    @media (min-width:1024px) {
            left: 47px;
            right: 0;
            margin: 0;
    }
    /* desktop */
    @media (min-width:1280px) {
            left: 85px;
            right: 0;
            margin: 0;
    }
}
