.wrapper {
  background-color: #fffdee;
  padding: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1024px) {
  }
  @media screen and (min-width: 1280px) {
  }
}

.about-hotel {
  // outline: solid yellow;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 414px;

  height: 100%;
  height: 1191px;

  @media screen and (min-width: 1024px) {
    width: 100%;
    max-width: 1024px;
    max-height: 1238px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.about-hotel__info {
  margin-bottom: 32px;

  @media screen and (min-width: 1024px) {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 46px;
    margin: 0;
    padding-left: 112px;
    padding-right: 85px;
  }
  @media screen and (min-width: 1280px) {
    gap: 67px;
  }
}
.about-hotel__info-wrapper {
  width: 100%;
  max-width: 258px;
  margin-bottom: 28px;
  margin-left: auto;
  text-align: end;
  @media screen and (min-width: 1024px) {
    max-width: 419px;
  }
  @media screen and (min-width: 1280px) {
    width: 488px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-hotel__title-above {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  margin-bottom: 12px;
  color: #b8b8b8;

  @media screen and (min-width: 1024px) {
    font-size: 32px;
    line-height: calc(37 / 32);
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 4px;
  }
}

.about-hotel__title {
  display: block;
  font-family: 'FilmP3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #494848;
  margin-bottom: 16px;
  text-align: right;

  @media screen and (min-width: 1024px) {
    font-size: 64px;
    line-height: calc(69 / 64);
    margin: 0;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.about-hotel__description {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #7a7a7a;
  text-align: left;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
  @media screen and (min-width: 1280px) {
  }
}

.about-hotel__text {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #c79002;
  width: 163px;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: calc(20 / 16);
    width: 312px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.about-hotel__image-room {
  width: 244px;
  margin-right: auto;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @media screen and (min-width: 1024px) {
    width: 400px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    margin: 0;
    position: relative;
    top: -44px;
  }
  @media screen and (min-width: 1280px) {
    width: 450px;
  }
}

.about-hotel__lobby {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    position: relative;
    top: -58px;
    right: 20px;
    gap: 48px;
    margin: 0;
    padding-right: 85px;
  }
  @media screen and (min-width: 1280px) {
    top: -112px;
    gap: 45px;
  }
}

.about-hotel__image-lobby {
  width: 200px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @media screen and (min-width: 1024px) {
    width: 350px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 1280px) {
    width: 450px;
  }
}

/* here swiper***********************************************************************************************************************************************************/

// .about-hotel__swiper-position {

// }
//   position: absolute;
// }

// .swiper-container

// Hotel-about-swiper

// swiper-container
.about-hotel__swiper-wrapper {
  position: relative;
  bottom: -500px;
  right: -330px;

  @media screen and (min-width: 1024px) {
    position: relative;
    bottom: -450px;
    left: -115px;
    transform: translate(-50% -50%);
  }
  @media screen and (min-width: 1280px) {
    position: relative;
    bottom: -400px;
    left: -240px;
    transform: translate(-50% -50%);
  }
}

.hotel__box-shadow {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}
.hotel__swiper-container {
  position: absolute;
  height: auto;
  width: 330px;

  @media screen and (min-width: $tablet) {
    width: 428px;
    position: absolute;
    bottom: 96px;
  }
  @media screen and (min-width: $desktop) {
    width: 530px;
    bottom: 119px;
  }
}
// swiper
.hotel__swiper {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  bottom: 0px;
  position: absolute;

  @media screen and (max-width: 1023px) {
    bottom: 0px;
    right: 15px;
  }
}
// swiper-wrapper
.hotel__wrap {
  width: 330px;

  @media screen and (min-width: $tablet) {
    width: 428px;
  }
  @media screen and (min-width: $desktop) {
    width: 530px;
  }
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}
.hotel__slide {
  height: 245px;
  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @media screen and (max-width: $mobile) {
    min-width: 245px;
    height: 245px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 194px;
    height: 194px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 245px;
    height: 245px;
  }
}
.hotel__about-swiper-arrows {
  position: absolute;
  display: flex;
  gap: 33px;
  bottom: -10px;
  left: -310;
  @media screen and (min-width: $tablet) {
    bottom: -68px;
    left: 0px;
  }
  @media screen and (min-width: $desktop) {
    bottom: -48px;
    left: 15px;
  }
}
.hotel__button-prev,
.hotel__button-next {
  position: static;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.hotel__swiper-icon {
  color: #000;
  width: 100%;
  height: 100%;
  display: block;
}
.hotel__swiper-container [class^='swiper-button-']::after {
  content: '';
}

//   hotel details swiper

@media screen and (min-width: $mobile) {
  .hotel-details__swiper {
    position: relative;
    left: 25px;
  }
}
@media screen and (min-width: $tablet) {
  .hotel-details__swiper {
    // position: relative;
    left: -13px;
  }
}
@media screen and (min-width: $desktop) {
  .hotel-details__swiper {
    left: -33px;
  }
}

// --------------swiper-contaner--------
@media screen and (min-width: $mobile) {
  .hotel-details__swiper-container {
    position: relative;
    min-width: 374px;
    max-width: 374px;
    height: 270px;
  }
}
@media screen and (min-width: $tablet) {
  .hotel-details__swiper-container {
    min-width: 662px;
    max-width: 662px;
  }
}
@media screen and (min-width: $desktop) {
  .hotel-details__swiper-container {
    min-width: 874px;
    max-width: 874px;
  }
}
// -------------------foto-swiper--------------
.hotel-details__swiper-slide {
  min-width: 270px;
  max-width: 270px;
  height: 270px;
}
.hotel-details__swiper-img {
  max-width: 270px;
  max-height: 270px;
}
.hotel-details__swiper-slim-img {
  max-width: 162px;
  min-width: 162px;
  height: 270px;
}
.hotel-details__swiper-slim-slide {
  max-width: 162px;
  min-width: 162px;
  height: 270px;
}

// -------------------btn-swiper------------------
.hotel-details__swiper-button-next::after,
.hotel-details__swiper-button-prev::after {
  content: '';
}

@media screen and (max-width: 1023px) {
  .hotel-details__swiper-button-prev,
  .hotel-details__swiper-button-next {
    position: static;
    width: 32px;
    height: 32px;
    display: flex;
    margin-top: 20px;
  }
}
@media screen and (min-width: $tablet) {
  .hotel-details__swiper-button-prev,
  .hotel-details__swiper-button-next {
    display: flex;
    position: static;
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: $desktop) {
  .hotel-details__swiper-button-prev,
  .hotel-details__swiper-button-next {
    position: static;
    width: 32px;
    height: 32px;
  }
}
.hotel-details__swiper__icon {
  fill: #fff;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

@media screen and (min-width: $mobile) {
  .hotel-details__swiper-arrows {
    margin-top: 24px;
    display: inline-flex;
    gap: 34px;
    transform: translatex(277);
  }
}
@media screen and (min-width: $tablet) {
  .hotel-details__swiper-arrows {
    display: inline-flex;
    margin-top: 32px;
    gap: 34px;
    transform: translatex(545);
  }
}
@media screen and (min-width: $desktop) {
  .hotel-details__swiper-arrows {
    display: inline-flex;
    gap: 34px;
    transform: translatex(744);
    margin-top: 30px;
  }
}
