.wrapper {
  background-color: #fffdee;
  outline: solid red;
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1124px) {
    max-width: 1124px;
    outline: solid yellow;
  }
  @media screen and (min-width: 1280px) {
    outline: solid green;
    max-width: 1280px;
  }
}

.about-hotel {
  height: 100%;
  max-height: 1191px;
}

.about-hotel__info {
  margin-left: auto;
  outline: 5px solid lime;
  text-align: end;
  width: 100%;
  max-width: 258px;
  margin-bottom: 28px;

  @media screen and (min-width: 1124px) {
    margin: 0;
    width: 100%;
    max-width: 419px;
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
    max-width: 488px;
  }
}

.about-hotel__title-above {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  margin-bottom: 12px;
  color: #b8b8b8;

  @media screen and (min-width: 1124px) {
    font-size: 32px;
    line-height: calc(37 / 32);
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 4px;
  }
}

.about-hotel__title {
  display: block;
  font-family: 'FilmP3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #494848;

  @media screen and (min-width: 1124px) {
    font-size: 64px;
    line-height: calc(69 / 64);
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    color: #828282;
  }
}

.about-hotel__description {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #5f5f5f;
  @media screen and (min-width: 1124px) {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
  @media screen and (min-width: 1280px) {
    color: #828282;
  }
}

.about-hotel__text {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #c79002;
  @media screen and (min-width: 1124px) {
    font-size: 16px;
    line-height: calc(20 / 16);
    width: 312px;
  }
}

.about-hotel__room {
  margin-bottom: 32px;
  @media screen and (min-width: 1124px) {
    position: relative;
    top: -44px;
    margin: 0;
  }
}

.about-hotel__lobby {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row-reverse;
  margin-bottom: 32px;
}
.about-hotel__image-room {
  width: 100%;
  max-width: 244px;
  margin-right: auto;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @media screen and (min-width: 1124px) {
    width: 400px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    margin: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
    max-width: 450px;
  }
}

.about-hotel__image-lobby {
  width: 100%;
  max-width: 200px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @media screen and (min-width: 1124px) {
    width: 100%;
    max-width: 350px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
    max-width: 450px;
  }
}

.about-hotel__slider {
  height: 100px;
  width: 100px;
  background-color: lime;
}
