.details-hotel {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 414px;
  max-height: 735px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/details-our-hotel/details-hotel__bg--m.jpg");
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resoluiton: 2dppx) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/details-our-hotel/details-hotel__bg--m@2x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/details-our-hotel/details-hotel__bg--t.jpg");
    width: 100%;
    max-width: 1024px;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resoluiton: 2dppx) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/details-our-hotel/details-hotel__bg--t@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/details-our-hotel/details-hotel__bg--d.jpg");
    width: 100%;
    max-width: 1280px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resoluiton: 2dppx) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/details-our-hotel/details-hotel__bg--d@2x.jpg");
  }
}

.details-hotel__info {
  margin-right: 140px;
  margin-left: 32px;
}
.details-hotel__title {
  margin: 0;
  font-family: "FilmP3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .details-hotel__title {
    font-size: 64px;
  }
}
.details-hotel__hotel {
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.details-hotel__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #bababa;
}

.details-hotel__slider {
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}

.details-hotel__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.button__reserve-room {
  width: 236px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 14px 0;
  color: #f3c653;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.button__reserve-room:hover, .button__reserve-room:focus {
  background: #ffffff;
  border: 2px solid #f3c653;
}

.button__check-prices {
  width: 236px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 14px 0;
  color: #f3c653;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.button__check-prices:hover, .button__check-prices:focus {
  background-color: #ffffff;
  border: 2px solid #f3c653;
}/*# sourceMappingURL=details-of-our-hotel.css.map */