<section class="about-kitchen">
    <div class="container kitchen-container">
        <p class="restaurant-slogon">Amet minim mollit non</p>
        <h2 class="title-name">MIMIHO</h2>
        <div class="kitchen-top-part">
            <p class="kitchen-info-top">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <picture class="kitchen__slider-image">
                <source srcset="
                                /src/images/kitchen-1-desktop.jpg 1x,
                                /src/images/kitchen-1-desktop-2x.jpg 2x" media="(min-width: 1200px)"
                    sizes="(min-width: 1280px) 1280px" />
                <source srcset="
                                /src/images/kitchen-1-tab.jpg 1x,
                                /src/images/kitchen-1-tab-2x.jpg 2x"
                    media="(min-width: 1024px) and (max-width: 1279px)" sizes="(min-width: 1024px) 1024px" />
                <source srcset="
                                /src/images/kitchen-1-mob.jpg 1x,
                                /src/images/kitchen-1-mob-2x.jpg 2x" media="(min-width: 414px)"
                    sizes="(min-width: 414px) 414px" />
                <img class="kitchen-photo-top" src="/src/images/kitchen-1-desktop.jpg"
                    alt="обідня зала ресторану" width="244">
            </picture>
        </div>
        <div class="kitchen-bottom-part">
            <picture class="kitchen__slider-image">
                <source srcset="
                            /src/images/kitchen-2-desktop.jpg 1x,
                            /src/images/kitchen-2-desktop-2x.jpg 2x" media="(min-width: 1200px)"
                    sizes="(min-width: 1280px) 1280px" />
                <source srcset="
                            /src/images/kitchen-2-tab.jpg 1x,
                            /src/images/kitchen-2-tab-2x.jpg 2x"
                    media="(min-width: 1024px) and (max-width: 1279px)" sizes="(min-width: 1024px) 1024px" />
                <source srcset="
                            /src/images/kitchen-2-mob.jpg 1x,
                            /src/images/kitchen-2-mob-2x.jpg 2x" media="(min-width: 414px)"
                    sizes="(min-width: 414px) 414px" />
                <img class="kitchen-photo-bottom" src="/src/images/kitchen-2-desktop.jpg"
                    alt="обідня зала ресторану" width="200">
            </picture>
            <p class="kitchen-info-bottom">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
        </div>
        <div class="swiper-container kitchen__swiper-container">
            <div class="swiper kitchen__swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper kitchen__wrap">
                    <!-- Slides -->
                    <div class="swiper-slide kitchen__slide">
                        <picture class="kitchen__slider-picture">
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-01.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-01-2x.jpg 2x
                        " media="(min-width: 1280px)" type="image/jpeg" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-01-tablet.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-01-tablet-2x.jpg 2x
                      " media="(min-width: 1024px;max-width: 1279px;)" type="image/jpeg" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-01-mobile.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-01-mobile-2x.jpg 2x
                      " media="(min-width: 414px; max-width:1023px; )" type="image/jpeg" />
                            <img src="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-01-mobile.jpg" alt="restaurant" />
                        </picture>
                    </div>
                    <div class="swiper-slide kitchen__slide">
                        <picture class="kitchen__slider-picture">
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-02.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-02-2x.jpg 2x
                        " media="(min-width: 1280px)" type="image/jpeg" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-02-tablet.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-02-tablet-2x.jpg 2x
                      " media="(min-width: 1024px;max-width: 1279px)" type="image/jpeg" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-02-mobile.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-02-mobile-2x.jpg 2x
                      " media="(min-width: 414px; max-width:1023px)" type="image/jpeg" />
                            <img src="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-02-mobile.jpg" alt="restaurant" />
                        </picture>
                    </div>
                    <div class="swiper-slide kitchen__slide">
                        <picture class="kitchen__slider-picture">
                            <source srcset="
                            ./images/sliders/about-kitchen-slider/about-kitchen-slider-03.jpg    1x,
                            ./images/sliders/about-kitchen-slider/about-kitchen-slider-03-2x.jpg 2x
                            " media="(min-width: 1280px)" type="image/jpeg" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-03-tablet.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-03-tablet-2x.jpg 2x
                      " media="(min-width: 1024px; max-width: 1279px)" type="image/jpeg" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-03-mobile.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-03-mobile-2x.jpg 2x
                      " media="(min-width: 414px; max-width:1023px)" type="image/jpeg" />
                            <img src="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-03-mobile.jpg" alt="restaurant" />
                        </picture>
                    </div>
                    <div class="swiper-slide kitchen__slide">
                        <picture class="kitchen__slider-picture">
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-04.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-04-2x.jpg 2x
                        " media="(min-width: 1280px)" type="image/jpeg" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-04-tablet.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-04-tablet-2x.jpg 2x
                      " media="(min-width: 1024px; max-width: 1279px)" type="image/jpeg" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-04-mobile.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-04-mobile-2x.jpg 2x
                      " media="(min-width: 414px; max-width:1023px)" type="image/jpeg" />
                            <img src="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-04-mobile.jpg" alt="restaurant" />
                        </picture>
                    </div>
                    <div class="swiper-slide kitchen__slide">
                        <picture class="kitchen__slider-picture">
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-05.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-05-2x.jpg 2x
                        " media="(min-width: 1280px)" type="image/jpeg" />
                            <img src="
                                    ./images/sliders/about-kitchen-slider/about-kitchen-slider-05-mobile.jpg" alt="restaurant" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-05-tablet.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-05-tablet-2x.jpg 2x
                      " media="(min-width: 1024px;max-width: 1279px)" type="image/jpeg" />
                            <source srcset="
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-05-mobile.jpg    1x,
                        ./images/sliders/about-kitchen-slider/about-kitchen-slider-05-mobile-2x.jpg 2x
                      " media="(min-width: 414px; max-width:1023px)" type="image/jpeg" />
                        </picture>
                    </div>
                </div>
                <!-- <div class="swiper-layer"></div> -->
            </div>
        <div class="kitchen-swiper-arrows">
            <div class="swiper-button-prev kitchen__button-prev">
                <svg class="kitchenswiper-icon">
                    <use href="/src/images/icons.svg#icon-swiper_left_button_icon"></use>
                </svg>
            </div>
            <div class="swiper-button-next kitchen__button-next">
                <svg class="kitchen-swiper-icon">
                    <use href="/src/images/icons.svg#icon-swiper_right_button_icon"></use>
                </svg>
            </div>
        </div>
        </div>
    </div>
</section>