<section class="about-kitchen">
    <div class="container">
        <h1 class="kitchen visually-hidden">About restaurant</h1>
        <p class="restaurant-slogon">Amet minim mollit non</p>
        <h2 class="title-name">MIMIHO</h2>
        <picture class="img">
            <source srcset="
                        /src/images/kitchen-1-desktop.jpg 1x,
                        /src/images/kitchen-1-desktop-2x.jpg 2x" media="(min-width: 1280px)"
                sizes="(min-width: 1280px) 1280px" />
            <source srcset="
                        /src/images/kitchen-1-tab.jpg 1x,
                        /src/images/kitchen-1-tab-2x.jpg 2x"
                media="(min-width: 1024px) and (max-width: 1279px)" sizes="(min-width: 1024px) 1024px" />
            <source srcset="
                            /src/images/kitchen-1-mob.jpg 1x,
                            /src/images/kitchen-1-mob-2x.jpg 2x" media="(min-width: 414px)"
                sizes="(min-width: 414px) 414px" />
            <img src="/src/images/kitchen-1-desktop.jpg" alt="обідня зала ресторану" width="244">
        </picture>
        <ul class="kitchen-info">
            <li class="kitchen-info-list list">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </li>
            <li class="kitchen-info-list list">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </li>
        </ul>
        <picture class="img">
            <source srcset="
                        /src/images/kitchen-2-desktop.jpg 1x,
                        /src/images/kitchen-2-desktop-2x.jpg 2x" media="(min-width: 1200px)"
                sizes="(min-width: 1280px) 1280px" />
            <source srcset="
                        /src/images/kitchen-2-tab.jpg 1x,
                        /src/images/kitchen-2-tab-2x.jpg 2x"
                media="(min-width: 1024px) and (max-width: 1279px)" sizes="(min-width: 1024px) 1024px" />
            <source srcset="
                        /src/images/kitchen-2-mob.jpg 1x,
                        /src/images/kitchen-2-mob-2x.jpg 2x" media="(min-width: 414px)"
                sizes="(min-width: 414px) 414px" />
            <img src="/src/images/kitchen-2-desktop.jpg" alt="обідня зала ресторану" width="244">
        </picture>
    </div>
</section>