<div class="container">
  <h2 class="section-menu__header">МЕНЮ РЕСТОРАНУ</h2>
  <ul class="section-menu__list">
    <li class="section-menu__hot-dishes-list">
      <h3 сlass="section-menu__subheader">
        Гарячі страви
      </h3>
      <ul>
        <li>
          <h4 class="section-menu__dish">Борщ з телятини з квасолею</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
            помідори, зелень, сметана</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">400 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">240 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Суп сирний з куркою</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">400 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">200 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Паста карбонара</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">350 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">430 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Стейк зі свинини</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
          </p>
        </li>
        <li>
          <p class="section-menu__dish-weight">400 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">500 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Горбуша в соусі з білого вина</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Ніжна горбуша, вершковий соус на основі білого вина</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">400 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">400 грн</p>
        </li>
      </ul>
    </li>

    <li class="section-menu__side-dishes-list">
      <h3 сlass="section-menu__subheader">
        Гарніри та закуски
      </h3>
      <ul>
        <li>
          <h4 class="section-menu__dish">Запечені овочі</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Кабачок, перець, помідор, баклажан</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">200 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">230 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Картопля фрі</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Картопля, соус томатний</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">150 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">160 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Картопля по-селянськи</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Картопля, спеції, соус пікантний</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">150 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">160 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Хрумкі соління з бочки</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Огірок солений, помідор квашений, квашена капуста, морква
            по-корейські</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">250 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">350 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Крильця курячі в медовому соусі</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою
            і соусом блючиз</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">400 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">420 грн</p>
        </li>
      </ul>
    </li>

    <li class="section-menu__salads-list">
      <h3 сlass="section-menu__subheader">
        Салати
      </h3>
      <ul>
        <li>
          <h4 class="section-menu__dish">Цезар з куркою</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
            цезар</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">230 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">450 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Цезар з креветками</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
            соус цезар</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">230 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">300 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Грецький салат</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
            салату, соус</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">230 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">280 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Грецький салат</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
            салату, соус</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">230 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">280 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">М’ясний салат</h4>
        </li>
        <li>
          <p class="section-menu__dish-description">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
            перець, соус ранч</p>
        </li>
        <li>
          <p class="section-menu__dish-weight">230 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">300 грн</p>
        </li>
      </ul>
    </li>

    <li class="section-menu__desserts-list">
      <h3 сlass="section-menu__subheader">
        Десерти
      </h3>
      <ul>
        <li>
          <h4 class="section-menu__dish">Торт наполеон</h4>
        </li>
        <li>
          <p class="section-menu__dish-weight">230 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">300 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Торт маковий</h4>
        </li>
        <li>
          <p class="section-menu__dish-weight">230 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">300 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Тірамісу</h4>
        </li>
        <li>
          <p class="section-menu__dish-weight">120 г</p>
        </li>
        <li>
          <p class="section-menu__dish-price">260 грн</p>
        </li>
      </ul>
    </li>
    <li class="section-menu__drinks-list">
      <h3 сlass="section-menu__subheader">
        Напої
      </h3>
      <ul>
        <li>
          <h4 class="section-menu__dish">Чай чорний/зелений</h4>
        </li>
        <li>
          <p class="section-menu__dish-weight">500 мл</p>
        </li>
        <li>
          <p class="section-menu__dish-price">100 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Еспресо</h4>
        </li>
        <li>
          <p class="section-menu__dish-weight">30 мл</p>
        </li>
        <li>
          <p class="section-menu__dish-price">100 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Американо</h4>
        </li>
        <li>
          <p class="section-menu__dish-weight">150 мл</p>
        </li>
        <li>
          <p class="section-menu__dish-price">100 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Капучино</h4>
        </li>
        <li>
          <p class="section-menu__dish-weight">200 мл</p>
        </li>
        <li>
          <p class="section-menu__dish-price">160 грн</p>
        </li>
      </ul>
      <ul>
        <li>
          <h4 class="section-menu__dish">Лате</h4>
        </li>
        <li>
          <p class="section-menu__dish-weight">200 мл</p>
        </li>
        <li>
          <p class="section-menu__dish-price">160 грн</p>
        </li>
      </ul>
    </li>
  </ul>
  <button class="section-menu__button" type="button">Забронювати столик</button>
</div>
</section>
=======
<div class="container">
  <h2 class="section-menu__header">МЕНЮ РЕСТОРАНУ</h2>
  <ul class="section-menu__list">
    <li class="section-menu__hot-dishes-list">
      <h3 сlass="section-menu__subheader">Гарячі страви</h3>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Борщ з телятини з квасолею</h4>
          <p class="section-menu__dish-description">
            Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
            помідори, зелень, сметана
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">400 г</p>
          <p class="section-menu__dish-price">240 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Суп сирний з куркою</h4>
          <p class="section-menu__dish-description">
            Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">400 г</p>
          <p class="section-menu__dish-price">200 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Паста карбонара</h4>
          <p class="section-menu__dish-description">
            Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">350 г</p>
          <p class="section-menu__dish-price">430 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Стейк зі свинини</h4>
          <p class="section-menu__dish-description">
            Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
            овочами
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">400 г</p>
          <p class="section-menu__dish-price">500 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Горбуша в соусі з білого вина</h4>
          <p class="section-menu__dish-description">
            Ніжна горбуша, вершковий соус на основі білого вина
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">400 г</p>
          <p class="section-menu__dish-price">400 грн</p>
        </li>
      </ul>
    </li>

    <li class="section-menu__side-dishes-list">
      <h3 сlass="section-menu__subheader">Гарніри та закуски</h3>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Запечені овочі</h4>
          <p class="section-menu__dish-description">
            Кабачок, перець, помідор, баклажан
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">200 г</p>
          <p class="section-menu__dish-price">230 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Картопля фрі</h4>
          <p class="section-menu__dish-description">
            Картопля, соус томатний
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">150 г</p>
          <p class="section-menu__dish-price">160 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Картопля по-селянськи</h4>
          <p class="section-menu__dish-description">
            Картопля, спеції, соус пікантний
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">150 г</p>
          <p class="section-menu__dish-price">160 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Хрумкі соління з бочки</h4>
          <p class="section-menu__dish-description">
            Огірок солений, помідор квашений, квашена капуста, морква
            по-корейські
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">250 г</p>
          <p class="section-menu__dish-price">350 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Крильця курячі в медовому соусі</h4>
          <p class="section-menu__dish-description">
            Крильця курячі, гірчично-медовий соус, подається з морквою,
            селерою і соусом блючиз
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">400 г</p>
          <p class="section-menu__dish-price">420 грн</p>
        </li>
      </ul>
    </li>

    <li class="section-menu__salads-list">
      <h3 сlass="section-menu__subheader">Салати</h3>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Цезар з куркою</h4>
          <p class="section-menu__dish-description">
            Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
            соус цезар
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">230 г</p>
          <p class="section-menu__dish-price">450 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Цезар з креветками</h4>
          <p class="section-menu__dish-description">
            Тигрові креветки, листя салату, помідори чері, сир пармезан,
            грінки, соус цезар
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">230 г</p>
          <p class="section-menu__dish-price">300 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Грецький салат</h4>
          <p class="section-menu__dish-description">
            Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
            листя салату, соус
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">230 г</p>
          <p class="section-menu__dish-price">280 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">М’ясний салат</h4>
          <p class="section-menu__dish-description">
            Куряче філе або свиняча вирізка, свіжі огірок, помідор,
            болгарський перець, соус ранч
          </p>
        </li>
        <li class="section-menu__box-item2">
          <p class="section-menu__dish-weight">230 г</p>
          <p class="section-menu__dish-price">300 грн</p>
        </li>
      </ul>
    </li>

    <li class="section-menu__desserts-list">
      <h3 сlass="section-menu__subheader">Десерти</h3>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Торт наполеон</h4>
        </li>
        <li class="section-menu__box-item2d">
          <p class="section-menu__dish-weight">230 г</p>
          <p class="section-menu__dish-price">300 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Торт маковий</h4>
        </li>
        <li class="section-menu__box-item2d">
          <p class="section-menu__dish-weight">230 г</p>
          <p class="section-menu__dish-price">300 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Тірамісу</h4>
        </li>
        <li class="section-menu__box-item2d">
          <p class="section-menu__dish-weight">120 г</p>
          <p class="section-menu__dish-price">260 грн</p>
        </li>
      </ul>
    </li>
    <li class="section-menu__drinks-list">
      <h3 сlass="section-menu__subheader">Напої</h3>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Чай чорний/зелений</h4>
        </li>
        <li class="section-menu__box-item2dr">
          <p class="section-menu__dish-weight">500 мл</p>
          <p class="section-menu__dish-price">100 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Еспресо</h4>
        </li>
        <li class="section-menu__box-item2dr">
          <p class="section-menu__dish-weight">30 мл</p>
          <p class="section-menu__dish-price">100 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Американо</h4>
        </li>
        <li class="section-menu__box-item2dr">
          <p class="section-menu__dish-weight">150 мл</p>
          <p class="section-menu__dish-price">100 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Капучино</h4>
        </li>
        <li class="section-menu__box-item2dr">
          <p class="section-menu__dish-weight">200 мл</p>
          <p class="section-menu__dish-price">160 грн</p>
        </li>
      </ul>
      <ul class="section-menu__box">
        <li class="section-menu__box-item1">
          <h4 class="section-menu__dish">Лате</h4>
        </li>
        <li class="section-menu__box-item2dr">
          <p class="section-menu__dish-weight">200 мл</p>
          <p class="section-menu__dish-price">160 грн</p>
        </li>
      </ul>
    </li>
  </ul>
  <button data-popup-btn="book-table-modal" class="buttons__style section-menu__button popup-link" type="button">
    Забронювати столик
  </button>
</div>
</section>
