// //reset
// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

// /* Стили для обнуления верхних отступов у элементов */
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//   margin-top: 0;
//   margin-bottom: 0;
//   padding: 0;
// }

// /* Класс для обнуления базовых свойств у списков (ul) */
// .list {
//   list-style: none;
//   padding-left: 0;
//   margin: 0;
// }

// /* Класс для обнуления базовых свойств у ссылок */
// .link {
//   text-decoration: none;
//   color: inherit;
// }

// /* Свойства для корректного отображения картинок */
// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }

// /* Свойства для обнуления курсива у address */
// address {
//   font-style: normal;
// }

//amenities
.sectionAmenities {
  padding-top: 32px;
  padding-bottom: 32px;
  // background: $fonLemon;

  @media screen and (min-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

// .containerAmenities {
//   max-width: 414px;
//   padding: 0 15px;
//   margin-left: auto;
//   margin-right: auto;

//   @media screen and (min-width: 1024px) {
//     max-width: 1024px;
//     padding: 0 47px;
//   }
//   @media screen and (min-width: 1280px) {
//     max-width: 1280px;
//     padding: 0 85px;
//   }
// }
.titleAmenities {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.descriptionAmenities {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  max-width: 757px;
  color: $fontColorBase;
  margin-bottom: 32px;
}
.listAmenities__description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;

  color: $fontColorBase;
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    display: inline-block;
    width: 400px;
  }
  @media screen and (min-width: 1280px) {
  }
  &-paragraph {
    margin-bottom: 16px;
    @media screen and (min-width: 1024px) {
      margin-right: 80px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 159px;
    }
  }
}

.listAmenities {
  &__title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

    color: $black;
    margin-bottom: 16px;
  }
  &__general {
  }
  &__bathroom {
  }
  &__bedroom {
  }
  &__kitchen {
  }
  &__media {
    @media screen and (min-width: 1024px) {
      padding-bottom: 8px;
    }
  }
}
.navAmenities {
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 113px;
  }
  &__Button {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background-color: $black;
    color: $whiteColor;
    border: 1px solid $accentColor;
    border-radius: 25px;
    padding: 20px 42px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 20px;
    @media screen and (min-width: 1024px) {
      margin-right: 0;
      font-size: 24px;
      line-height: 29px;
      padding: 18px 38px;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
    }
    &:hover {
      color: $black;
      background-color: $accentColor;
    }
    &:focus {
      background-color: $accentColor;
    }
  }
  &__Link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.02em;

    color: $linkColorBase;
    @media screen and (min-width: 1024px) {
      justify-content: flex-end;
      margin-right: 0;
      font-size: 20px;
      line-height: 24px;
    }
    @media screen and (min-width: 1280px) {
    }
    &:hover {
      color: $accentColor;
    }
  }
  &__icon {
    fill: $linkColorBase;
    margin-left: 12px;
  }
}
