<section class="sectionAmenities">
  <div class="containerAmenities container">
    <h2 class="titleAmenities">Зручності у номері</h2>
    <p class="descriptionAmenities">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="list listAmenities">
      <li class="listAmenities__general">
        <h3 class="listAmenities__title">Загальні</h3>

        <p
          class="listAmenities__description listAmenities__description-paragraph"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>

        <p class="listAmenities__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="listAmenities__bathroom">
        <h3 class="listAmenities__title">Ванна кімната</h3>

        <p
          class="listAmenities__description listAmenities__description-paragraph"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>

        <p class="listAmenities__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="listAmenities__bedroom">
        <h3 class="listAmenities__title">Спальня</h3>
        <p class="listAmenities__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="listAmenities__kitchen">
        <h3 class="listAmenities__title">Кухня</h3>
        <p
          class="listAmenities__description listAmenities__description-paragraph"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
        <p class="listAmenities__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="listAmenities__media">
        <h3 class="listAmenities__title">Медіа</h3>
        <p class="listAmenities__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="navAmenities">
      <button class="navAmenities__Button" type="button">
        Оформити бронювання
      </button>
      <a class="link navAmenities__Link" href="./hotel.html"
        >Повернутися до перегляду номерів
        <svg class="navAmenities__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-swiper_right_button_icon"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
