<section class="hero-section">
    <div class="container">
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
            <source
              srcset="/src/images/details-our-hotel/hero-room@1.jpg, /src/images/details-our-hotel/hero-room@2.jpg 2x"
              media="(min-width: 1200px)">
            <source
              srcset="/src/images/details-our-hotel/hero-room-tablet@1.jpg 1x, /src/images/details-our-hotel/hero-room-tablet@2.jpg 2x"
              media="(min-width: 768px)">
            <img
              srcset="./images/details-our-hotel/hero-room-mobile@1.jpg 1x, ./images/details-our-hotel/hero-room-mobile@2.jpg 2x"
              src="./images/details-our-hotel/hero-room-mobile@1.jpg"
              alt="Фото номеру готелю"
              class="hero__img">
          </picture>
      </div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

</div>
</section>