<div class="swiper hero-room__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper hero-room__swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide hero-room__swiper-slide">
        <picture hero-room__swiper-picture>
          <source
            srcset="
              ./images/sections/adult-lux/bathroom-desk-1x.jpg 1x,
              ./images/sections/adult-lux/bathroom-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sections/adult-lux/bathroom-tab-1x.jpg 1x,
              ./images/sections/adult-lux/bathroom-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sections/adult-lux/bathroom-mobile-1x.jpg 1x,
              ./images/sections/adult-lux/bathroom-mobile-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/sections/adult-lux/bathroom-mobile-1x.jpg"
            alt="спальня з ліжком"
          />
        </picture>
      </div>
      <div class="swiper-slide hero-room__swiper-slide">
        <picture hero-room__swiper-picture>
          <source
            srcset="
              ./images/sections/adult-lux/lounge-desk-1x.jpg 1x,
              ./images/sections/adult-lux/lounge-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sections/adult-lux/lounge-tab-1x.jpg 1x,
              ./images/sections/adult-lux/lounge-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sections/adult-lux/lounge-mobile-1x.jpg 1x,
              ./images/sections/adult-lux/lounge-mobile-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/sections/adult-lux/lounge-mobile-1x.jpg"
            alt="кімната з диваном"
          />
        </picture>
      </div>
      <div class="swiper-slide hero-room__swiper-slide">
        <picture hero-room__swiper-picture>
          <source
            srcset="
              ./images/sections/adult-lux/bedroom-desk-1x.jpg 1x,
              ./images/sections/adult-lux/bedroom-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sections/adult-lux/bedroom-tab-1x.jpg 1x,
              ./images/sections/adult-lux/bedroom-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sections/adult-lux/bedroom-mobile-1x.jpg 1x,
              ./images/sections/adult-lux/bedroom-mobile-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/sections/adult-lux/bedroom-mobile-1x.jpg"
            alt="спальня з ліжком"
          />
        </picture>
      </div>

      ...
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev hero-room__swiper-button-prev">
      <svg class="hero-room__arrow-icon">
        <use href="/src/images/icons.svg#icon-swiper_right_button_icon"></use>
      </svg>
    </div>
    <div class="swiper-button-next hero-room__swiper-button-next">
      <svg class="hero-room__arrow-icon">
        <use href="/src/images/icons.svg#icon-swiper_left_button_icon"></use>
      </svg>
    </div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>