<div class="swiper-container kitchen__swiper-container">
    <div class="swiper kitchen__swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper kitchen__wrap">
            <!-- Slides -->
            <div class="swiper-slide kitchen__slide">
                <picture>
                    <source srcset="
                ./images/details-of-our-restaurant/details-of-our-restaurant-1-t@1x.jpg    1x,
                ./images/details-of-our-restaurant/details-of-our-restaurant-1-t@1x.jpg 2x
              " media="(min-width: 1024px)" type="image/jpeg" />
                    <source srcset="
                ./images/details-of-our-restaurant/details-of-our-restaurant-1-m@1x.jpg    1x,
                ./images/details-of-our-restaurant/details-of-our-restaurant-1-m@1x.jpg 2x
              " media="(min-width: 414px)" type="image/jpeg" />
                    <source srcset="
              ./images/details-of-our-restaurant/details-of-our-restaurant-1-@1x.jpg    1x,
                ./images/details-of-our-restaurant/details-of-our-restaurant-1-@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/jpeg" />
                    <img src="
                ./images/details-of-our-restaurant/details-of-our-restaurant-1-m@1x.jpg" alt="restaurant" />
                </picture>
            </div>
            <div class="swiper-slide kitchen__slide">
                <picture>
                    <source srcset="
                            ./images/details-of-our-restaurant/details-of-our-restaurant-2-t@1x.jpg    1x,
                            ./images/details-of-our-restaurant/details-of-our-restaurant-2-t@1x.jpg 2x
                          " media="(min-width: 1024px)" type="image/jpeg" />
                    <source srcset="
                            ./images/details-of-our-restaurant/details-of-our-restaurant-2-m@1x.jpg    1x,
                            ./images/details-of-our-restaurant/details-of-our-restaurant-2-m@1x.jpg 2x
                          " media="(min-width: 414px)" type="image/jpeg" />
                    <source srcset="
                          ./images/details-of-our-restaurant/details-of-our-restaurant-2-@1x.jpg    1x,
                            ./images/details-of-our-restaurant/details-of-our-restaurant-2-@2x.jpg 2x
                          " media="(min-width: 1280px)" type="image/jpeg" />
                    <img src="
                            ./images/details-of-our-restaurant/details-of-our-restaurant-2-m@1x.jpg" alt="restaurant" />
                </picture>
            </div>
            <div class="swiper-slide kitchen__slide">
                <picture>
                    <source srcset="
                            ./images/details-of-our-restaurant/details-of-our-restaurant-3-@1x.jpg    1x,
                            ./images/details-of-our-restaurant/details-of-our-restaurant-3-@1x.jpg 2x
                          " media="(min-width: 1024px)" type="image/jpeg" />
                    <source srcset="
                            ./images/details-of-our-restaurant/details-of-our-restaurant-3-m@1x.jpg    1x,
                            ./images/details-of-our-restaurant/details-of-our-restaurant-3-m@1x.jpg 2x
                          " media="(min-width: 414px)" type="image/jpeg" />
                    <source srcset="
                          ./images/details-of-our-restaurant/details-of-our-restaurant-3-@1x.jpg    1x,
                            ./images/details-of-our-restaurant/details-of-our-restaurant-3-@2x.jpg 2x
                          " media="(min-width: 1280px)" type="image/jpeg" />
                    <img src="
                            ./images/details-of-our-restaurant/details-of-our-restaurant-3-m@1x.jpg" alt="restaurant" />
                </picture>
            </div>
        </div>
        <!-- <div class="swiper-layer"></div> -->
    </div>
    <div class="kitchen__swiper-arrows">
        <div class="swiper-button-prev kitchen__button-prev">
            <svg class="kitchen__swiper-icon">
                <use href="/src/images/icons.svg#icon-swiper_left_button_icon"></use>
            </svg>
        </div>
        <div class="swiper-button-next kitchen__button-next">
            <svg class="kitchen__swiper-icon">
                <use href="/src/images/icons.svg#icon-swiper_right_button_icon"></use>
            </svg>
        </div>
    </div>
</div>