<div class="box-slider">
  <div class="slider" dir="rtl">
    <div class="slider-wrap">
      <div class="slide card">
        <picture>
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-room-1x.jpg 1x,
              ./images/sliders/adult-lux-slider/adult-lux-room-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-room-tablet-1x.jpg 1x,
              ./images/sliders/adult-lux-slider/adult-lux-room-tablet-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-room-tablet-1x.jpg 1x,
              ./images/sliders/adult-lux-slider/adult-lux-room-tablet-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 414px)"
          />
          <img
            class="slider-img"
            src="./images/sliders/adult-lux-slider/adult-lux-room-tablet-1x.jpg"
            alt="Вид кімнати"
            width="194"
          />
        </picture>
      </div>
      <div class="slide card">
        <picture>
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-bathroom-1x.jpg 1x,
              ./images/sliders/adult-lux-slider/adult-lux-bathroom-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-1x.jpg 1x,
              ./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-1x.jpg 1x,
              ./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 414px)"
          />
          <img
            class="slider-img"
            src="./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-1x.jpg"
            alt="Вид кімнати"
            width="194"
          />
        </picture>
      </div>
      <div class="slide card">
        <picture>
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-slider-03.jpg    1x,
              ./images/sliders/adult-lux-slider/adult-lux-slider-03-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-slider-03-tablet.jpg    1x,
              ./images/sliders/adult-lux-slider/adult-lux-slider-03-tablet-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-slider-03-mobile.jpg    1x,
              ./images/sliders/adult-lux-slider/adult-lux-slider-03-mobile-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 414px)"
          />
          <img
            class="slider-img"
            src="./images/sliders/adult-lux-slider/adult-lux-slider-03.jpg"
            alt="Вид кімнати"
            width="194"
          />
        </picture>
      </div>
      <div class="slide card">
        <picture>
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-slider-04.jpg    1x,
              ./images/sliders/adult-lux-slider/adult-lux-slider-04-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-slider-04-tablet.jpg    1x,
              ./images/sliders/adult-lux-slider/adult-lux-slider-04-tablet-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-slider-04-mobile.jpg    1x,
              ./images/sliders/adult-lux-slider/adult-lux-slider-04-mobile-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 414px)"
          />
          <img
            class="slider-img"
            src="./images/sliders/adult-lux-slider/adult-lux-slider-04.jpg"
            alt="Вид кімнати"
            width="194"
          />
        </picture>
      </div>
      <div class="slide card">
        <picture>
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-slider-05.jpg    1x,
              ./images/sliders/adult-lux-slider/adult-lux-slider-05-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-slider-05-tablet.jpg    1x,
              ./images/sliders/adult-lux-slider/adult-lux-slider-05-tablet-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sliders/adult-lux-slider/adult-lux-slider-05-mobile.jpg    1x,
              ./images/sliders/adult-lux-slider/adult-lux-slider-05-mobile-2x.jpg 2x
            "
            type="images/jpeg"
            media="(min-width: 414px)"
          />
          <img
            class="slider-img"
            src="./images/sliders/adult-lux-slider/adult-lux-slider-05.jpg"
            alt="Вид кімнати"
            width="194"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="swiper-arrows adult-lux__swiper-arrows">
    <div class="swiper-button-prev adult-lux__button-prev">
      <svg class="adult-lux__swiper__icon">
        <use href="/src/images/icons.svg#icon-swiper_left_button_icon"></use>
      </svg>
    </div>
    <div class="swiper-button-next adult-lux__button-next">
      <svg class="adult-lux__swiper__icon">
        <use href="/src/images/icons.svg#icon-swiper_right_button_icon"></use>
      </svg>
    </div>
  </div>
</div>
