<!-- <header class="header">
    <div class="header__container container">
        <div class="logo">
            <a href=./index.html class="logo"><a href="/src/index.html" class="nav__link">МІМІНО</a>
            <div class="nav">
            <ul class="nav__list list">
                <li clas="nav__item" ><a href="/src/restaurant.html" class="nav__link">Ресторан</a></li>
                <li clas="nav__item"><a href="/src/hotel.html" class="nav__link">Готель</a></li>
                <li clas="nav__item"><a href="/src/number.html" class="nav__link">Номер</a></li>
                </div>
            </ul>
        </div>
    </div>
</header> -->