$mobile:414px;
$tablet:1024px;
$desktop:1280px;


@media screen and (min-width: $mobile) {
    .restaurant-detailes__swiper {
    //   position: relative;
      left: 25px;
    }
  }
  @media screen and (min-width: $tablet) {
    .restaurant-detailes__swiper {
    //   position: relative;

    }
  }
  @media screen and (min-width: $desktop) {
    .restaurant-detailes__swiper {
    //   position: relative;

    }
  }
  // --------------swiper-contaner--------
  @media screen and (min-width: $mobile) {
    .restaurant-detailes__swiper-container {
      min-width: 374px;
      max-width: 374px;
    }
  }
  @media screen and (min-width: $tablet) {
    .restaurant-detailes__swiper-container {
      min-width: 662px;
      max-width: 662px;
    }
  }
  @media screen and (min-width: $desktop) {
    .restaurant-detailes__swiper-container {
      min-width: 875px;
      max-width: 875px;
    }
  }
  // -------------------foto-swiper--------------
  .restaurant-detailes__swiper-slide {
    min-width: 270px;
    max-width: 270px;
    height: 270px;
  }
  .restaurant-detailes__swiper-img {
    max-width: 270px;
    max-height: 270px;
  }
  .restaurant-detailes__swiper-slim-img {
    max-width: 162px;
    min-width: 162px;
    height: 270px;
  }
  .restaurant-detailes__swiper-slim-slide {
    max-width: 162px;
    min-width: 162px;
    height: 270px;
  }
  
  // -------------------btn-swiper------------------
  .restaurant-detailes__swiper-button-next::after,
  .restaurant-detailes__swiper-button-prev::after {
    content: '';
  }
  
  @media screen and (max-width: $tablet) {
    .restaurant-detailes__swiper-button-prev,
    .restaurant-detailes__swiper-button-next {
      position: static;
      width: 32px;
      height: 32px;
      display: flex;
      margin-top: 20px;
      cursor: pointer;
    }
  }
  @media screen and (min-width: $tablet) {
    .restaurant-detailes__swiper-button-prev,
    .restaurant-detailes__swiper-button-next {
      position: static;
      width: 32px;
      height: 32px;
    }
  }
  @media screen and (min-width: $desktop) {
    .restaurant-detailes__swiper-button-prev,
    .restaurant-detailes__swiper-button-next {
      position: static;
      width: 32px;
      height: 32px;
    }
  }
  .swiper__icon {
    fill: #fff;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
  }
  
  @media screen and (min-width: $mobile) {
    .restaurant-detailes__swiper-arrows {
      margin-top: 24px;
      display: flex;
      gap: 34px;
    }
  }
  @media screen and (min-width: $tablet) {
    .restaurant-detailes__swiper-arrows {
      margin-top: 32px;
      display: flex;
      gap: 34px;
    }
  }
  @media screen and (min-width: $desktop) {
    .restaurant-detailes__swiper-arrows {
      margin-top: 32px;
      display: flex;
      gap: 34px;
    }
  }