.nav {

&__link {

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $accentColor;

}

&__icon {
    fill: currentColor;
}
}