// .swiper-container
.restaurant__swiper-container {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    height: auto;
    width: 330px;

    @media screen and (min-width: $mobile) {

        left: 69px; 
    }

    @media screen and (min-width: $tablet) {
        width: 428px;
        position: absolute;
        bottom: 0px;
        bottom: 96px;
        left: 536px;
    }

    @media screen and (min-width: $desktop) {
        width: 548px;
        left: 643px;
        bottom: 119px;
    }
}

​ // .swiper

.restaurant__swiper {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    position: absolute;

    @media screen and (max-width: 1023px) {
        right: -15px;
    }

}

// .swiper-wrapper
.restaurant__wrap {
    width: 330px;

    @media screen and (min-width: $tablet) {
        width: 428px;
    }

    @media screen and (min-width: $desktop) {
        width: 548px;
    }
}

// .swiper-slide
.restaurant__slide {
    height: 245px;
    background-color: #dadada;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media screen and (max-width: $mobile) {
        min-width: 245px;
        height: 245px;
    }

    @media screen and (min-width: $tablet) {
        max-width: 194px;
        height: 194px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 254px;
        height: 254px;
    }
}

.restaurant__swiper-arrows {
    position: absolute;
    right: 15px;
    display: flex;
    gap: 33px;
    bottom: -52px;

    @media screen and (min-width: $tablet) {
        bottom: -68px;
        right: 0px;
    }

    @media screen and (min-width: $desktop) {
        bottom: -76px;

    }
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    width: 32px;
    height: 32px;

}

.restaurant__swiper-container [class^='swiper-button-']::after {
    content: '';
}

.restaurant__swiper-icon {
    color: #000;
    width: 100%;
    height: 100%;
    display: block;
}







// --------------swiper-detailes-contaner--------
@media screen and (min-width: $mobile) {
  .restaurant-detailes__swiper-container {
    min-width: 374px;
    max-width: 374px;
  }
}
@media screen and (min-width: $tablet) {
  .restaurant-detailes__swiper-container {
    min-width: 662px;
    max-width: 662px;
  }
}
@media screen and (min-width: $desktop) {
  .restaurant-detailes__swiper-container {
    min-width: 875px;
    max-width: 875px;
  }
}
// -------------------foto-swiper--------------
.restaurant-detailes__swiper-slide {
  min-width: 270px;
  max-width: 270px;
  height: 270px;
}
.restaurant-detailes__swiper-img {
  max-width: 270px;
  max-height: 270px;
}
.restaurant-detailes__swiper-slim-img {
  max-width: 162px;
  min-width: 162px;
  height: 270px;
}
.restaurant-detailes__swiper-slim-slide {
  max-width: 162px;
  min-width: 162px;
  height: 270px;
}

// -------------------btn-swiper------------------
.restaurant-detailes__swiper-button-next::after,
.restaurant-detailes__swiper-button-prev::after {
  content: '';
}

@media screen and (max-width: $tablet) {
  .restaurant-detailes__swiper-button-prev,
  .restaurant-detailes__swiper-button-next {
    position: static;
    width: 32px;
    height: 32px;
    display: flex;
    margin-top: 20px;
    cursor: pointer;
  }
}
@media screen and (min-width: $tablet) {
  .restaurant-detailes__swiper-button-prev,
  .restaurant-detailes__swiper-button-next {
    position: static;
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: $desktop) {
  .restaurant-detailes__swiper-button-prev,
  .restaurant-detailes__swiper-button-next {
    position: static;
    width: 32px;
    height: 32px;
  }
}
.swiper__icon {
  fill: #fff;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

@media screen and (min-width: $mobile) {
  .restaurant-detailes__swiper-arrows {
    margin-top: 24px;
    display: flex;
    gap: 34px;
  }
}
@media screen and (min-width: $tablet) {
  .restaurant-detailes__swiper-arrows {
    margin-top: 32px;
    display: flex;
    gap: 34px;
  }
}
@media screen and (min-width: $desktop) {
  .restaurant-detailes__swiper-arrows {
    margin-top: 32px;
    display: flex;
    gap: 34px;
  }
}

@media screen and (min-width: $mobile) {
    .restaurant-detailes__swiper {
        position: relative;
        left: 25px;
    }
}

@media screen and (min-width: $tablet) {
    .restaurant-detailes__swiper {
        position: relative;
        left: 265px;
    }
}

@media screen and (min-width: $desktop) {
    .restaurant-detailes__swiper {
        position: relative;
        left: 268px;
    }
}

// --------------swiper-contaner--------
@media screen and (min-width: $mobile) {
    .restaurant-detailes__swiper-container {
        min-width: 374px;
        max-width: 374px;
    }
}

@media screen and (min-width: $tablet) {
    .restaurant-detailes__swiper-container {
        min-width: 662px;
        max-width: 662px;
    }
}

@media screen and (min-width: $desktop) {
    .restaurant-detailes__swiper-container {
        min-width: 875px;
        max-width: 875px;
    }
}

// -------------------foto-swiper--------------
.restaurant-detailes__swiper-slide {
    min-width: 270px;
    max-width: 270px;
    height: 270px;
}

.restaurant-detailes__swiper-img {
    max-width: 270px;
    max-height: 270px;
}

.restaurant-detailes__swiper-slim-img {
    max-width: 162px;
    min-width: 162px;
    height: 270px;
}

.restaurant-detailes__swiper-slim-slide {
    max-width: 162px;
    min-width: 162px;
    height: 270px;
}

// -------------------btn-swiper------------------
.restaurant-detailes__swiper-button-next::after,
.restaurant-detailes__swiper-button-prev::after {
    content: '';
}

@media screen and (max-width: $tablet) {

    .restaurant-detailes__swiper-button-prev,
    .restaurant-detailes__swiper-button-next {
        position: static;
        width: 32px;
        height: 32px;
        display: flex;
        margin-top: 20px;
        cursor: pointer;
    }
}

@media screen and (min-width: $tablet) {

    .restaurant-detailes__swiper-button-prev,
    .restaurant-detailes__swiper-button-next {
        position: static;
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: $desktop) {

    .restaurant-detailes__swiper-button-prev,
    .restaurant-detailes__swiper-button-next {
        position: static;
        width: 32px;
        height: 32px;
    }
}

.swiper__icon {
    fill: #fff;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

@media screen and (min-width: $mobile) {
    .restaurant-detailes__swiper-arrows {
        margin-top: 24px;
        display: flex;
        gap: 34px;
    }
}

@media screen and (min-width: $tablet) {
    .restaurant-detailes__swiper-arrows {
        margin-top: 32px;
        display: flex;
        gap: 34px;
    }
}

@media screen and (min-width: $desktop) {
    .restaurant-detailes__swiper-arrows {
        margin-top: 32px;
        display: flex;
        gap: 34px;
    }
}