<section class="hero-hotel">
  <div class="container">
    <div class="hero-homepage-blok">
      <h1 class="hero-homepage-title">MIMIHO</h1>
      <h2 class="hero-homepage-subtitle">Готель</h2>
    </div>

    <div class="hero-homepage-container">
      <address>
        <p class="hero-homepage-address">
          <svg class="icon-geotag" width="24" height="24">
            <use href="/src/images/icons.svg#icon-geotag"></use>
          </svg>
          <a
            class="hero-homepage-address_link link"
            href="https://goo.gl/maps/oK8vyMWPd37GwN4X6"
            target="_blank"
          >
            Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15</a
          >
        </p>
      </address>

      <div class="hero-homepage-box-button">
        <button
          type="button"
          data-popup-btn="book-table-modal"
          class="hero-homepage-button popup-link"
        >
          Забронювати столик
        </button>
        <button
          type="button"
          data-popup-btn="book-room-modal"
          class="hero-homepage-button popup-link"
        >
          Забронювати номер
        </button>
      </div>
    </div>
    <ul class="network social">
      <li class="network__item">
        <a class="network__link" href="#">
          <svg class="network__icon" width="22" height="22">
            <use href="/src/images/icons.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="network__item">
        <a class="network__link" href="#">
          <svg class="network__icon network__icon--fb" width="20" height="20">
            <use href="/src/images/icons.svg#icon-fb"></use>
          </svg>
        </a>
      </li>
      <li class="network__item">
        <a class="network__link" href="#">
          <svg class="network__icon" width="24" height="24">
            <use href="/src/images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
